:root {
    --light-black: #181E1E;
    --red-color: #E63946;
    --light-red: #FF6864;
    --yellow-color: #FFCA28;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/* Sections */

section {
    padding: 80px 0;
    color: white;
}

.bg-black {
    background: black;
}

.bg-light-black {
    background: var(--light-black);
}

.bg-light-red {
    background: var(--light-red);
}

.bg-red {
    background: var(--red-color);
}

section h2 {
    position: relative;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
}

section h2::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: var(--red-color);
    left: 0;
    bottom: -10px;
}

section h2.yellow::after {
    background: var(--yellow-color);
}

section .content-container {
    display: flex;
}

/* Tablet */
@media (max-width : 1024px){
    .wrapper{
        max-width: 694px;
    }
}

/* Tablet */
@media (max-width: 720px) {
    .wrapper{
        padding: 0 32px;
    }

    section h2{
        font-size: 24px;
    }

    section h2::after{
        width: 50px;
        bottom: 0;
    }
}